<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">


<div layout:fragment="content">

  <style>
    #menu_image_url,
    #logo_url {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>

  <div class="container-fluid p-5 bg-danger text-white text-center">
    <h2>관리자 페이지</h2>
    <h4>모든 메뉴 리스트</h4>
  </div>

  <div class="container mt-4 mb-5">
    <a type="button" class="btn" href="/admin">
      < 뒤로가기
    </a>
  </div>

  <div class="container text-center mb-5">
    <p class="h3 mt-3">메뉴 수정은 해당 메뉴의 회사명을 클릭해주세요.</p>
    <p class="h5">메뉴 이미지는 클릭시 확대됩니다.</p>
  </div>


  <!-- Food List -->
  <div class="container mt-3 mb-5">
    <h2><strong>Menu List</strong></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>카테고리</th>
          <th>회사명</th>
          <th>메뉴명</th>
          <th>이미지</th>
          <!-- <th>Update Time</th> -->
          <!-- <th>Create Time</th> -->
          <th>Image URL</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="f : ${foodList}">
          <td><span th:text="${f.foodId}">ID</span></td>
          <td><span th:text="${f.category}">카테고리</span></td>
          <td>
            <a th:href="'/admin/companies/'+${f.companyId}" >
              <span th:if="${f.companyName != null}" th:text="${f.companyName}">회사명</span>
            </a>
          </td>
          <td><span th:text="${f.foodName}" >메뉴 이름</span></td>
          <td><img th:src="${f.foodImage}" height="50" data-bs-toggle="modal"
              th:data-bs-target="'#fImageModal'+${f.foodId}"></td>
          <!-- <td><span th:text="${f.updatedAt}">updatedAt</span></td> -->
          <!-- <td><span th:text="${f.createdAt}">createdAt</span></td> -->
          <td>
            <div th:text="${f.foodImage}" style="width: 450px;" id="menu_image_url">
              메뉴이미지 URL
            </div>
          </td>
          <!-- 메뉴 이미지 크기보기 -->
          <div class="modal" th:id="'fImageModal'+${f.foodId}">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <img class="img-fluid" th:src="${f.foodImage}">
                </div>
              </div>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div> <!-- end of container -->

</html>