<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> MUKCHA </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mynavbar">
                <!-- 아래의 항목을 뒤로 땡김 -->
                <ul class="navbar-nav me-auto"></ul>

                <!-- 검색창 -->
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search">
                    <button class="btn btn-primary" type="button">Search</button>
                </form>

                <ul class="navbar-nav">
                    <!-- 로그인, 회원가입 -->
                    <li class="nav-item">
                        <a class="nav-link" href="/login" sec:authorize="isAnonymous()"> 로그인 </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join" sec:authorize="isAnonymous()"> 회원가입 </a>
                    </li>

                    <!-- 로그인 후 dropdown 으로 바뀌는 영역 -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#"
                            sec:authorize="isAuthenticated()">
                            <span sec:authentication="name"> username </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/user/edit"> 내 정보 </a></li>
                            <li><a class="dropdown-item" href="/logout"> 로그아웃 </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

</html>