<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">


<div layout:fragment="content">

  <div class="container text-center bg-light p-5 mt-5 mb-5">
    <h3 class="mb-5">회원 정보 수정</h3>
    <h5 class="mb-2">필수항목</h5>

    <form class="form-signin" th:action="@{/api/users/}+${user.userId}" th:method="PUT">
      <!-- 이메일 -->
      <div class="mb-3 was-validated">
        <label for="email">이메일<span class="text-muted">(로그인 아이디)</span></label>
        <input type="email" class="form-control" id="email" name="email" th:value="${user.email}" readonly>
      </div>
      <span style="color:royalblue">(이메일은 수정이 불가합니다.)</span>

      <!-- 아이디(별명) -->
      <div class="mb-3 mt-3 was-validated">
        <label for="name" class="form-label">아이디<span class="text-muted">(별명)</span></label>
        <input type="text" class="form-control" id="nickname" name="nickname" th:value="${user.nickname}">
      </div>

      <hr class="mb-4">
      <h5 class="mb-2">선택항목</h5>
      <!-- 성별 -->
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">성별</label>
        <select class="form-select" id="gender" name="gender" th:value="${user.gender}">
          <option value="">선택안함</option>
          <option th:value="MALE" th:text="남자" th:selected="${user.gender} == 'MALE'"></option>
          <option th:value="FEMALE" th:text="여자" th:selected="${user.gender} == 'FEMALE'"></option>
        </select>
      </div>
      <!-- 출생년도 -->
      <div class="row">
        <label class="form-label">출생년도</label>
        <div class="col">
          <span class="ps_box input-group">
            <input type="text" class="form-control" placeholder="년(4자)" maxlength="4" id="birthYear" name="birthYear"
              th:value="${user.birthYear}">
            <span class="input-group-text">년</span>
          </span>
        </div>
      </div> <!-- end of row -->
      <hr class="mt-5 mb-5">
      <!-- 수정 버튼 -->
      <button class="btn btn-lg btn-primary w-50 mb-4" type="submit">수정</button>
    </form>
    <!-- 취소 버튼 -->
    <a type="button" class="btn btn-lg btn-secondary w-50 mb-4" onclick="window.history.back();">취소</a>
    <!-- 회원 탈퇴 -->
    <a type="button" class="btn btn-lg btn-danger w-50" data-bs-toggle="modal" data-bs-target="#signOutModal">회원 탈퇴</a>
  </div> <!-- /container -->


  <!-- 회원 탈퇴 Modal -->
  <div class="modal" id="signOutModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">회원 탈퇴</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <p>탈퇴 후 동일한 아이디(이메일)로 가입하실 수 없으며,<br>
            회원님께서 작성하신 평가와 코멘트는 복구할 수 없습니다.
          </p>
          <p>
            연동 해제는 로그인 한 계정의 SNS에서 연동해제 해주세요.
          </p>
          <div>
            <h5><strong>정말로 탈퇴 하시겠습니까?</strong></h5>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="submit" class="btn btn-danger">회원 탈퇴</button> -->
          <button id="btn-disable" class="btn btn-danger">회원 탈퇴</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
        </div>
        <!-- <form th:action="@{/api/users/}+${user.userId}" th:method="PATCH"> -->
        <!-- </form> -->
      </div>
    </div>
  </div> <!-- end of 회원 탈퇴 Modal -->


  <script src="/js/user.js"></script>
  <script th:inline="javascript">
    // 메서드 결과 알림
    var message = [[${ resultMessage }]];
    switch (message) {
      case "updateUserSuccess":
        alert("회원 정보 수정이 완료되었습니다.");
        break;
      case "updateUserFail":
        alert("회원 정보 수정에 실패하였습니다.");
        break;
    }
  </script>
</div>

</html>