<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">


<div layout:fragment="content">

    <div class="container p-5 mt-4 text-center">

        <form method="POST" th:action="@{/join}" th:object="${form}" modelAttribute="form">

            <h3 class="mb-5"> 회원 가입 </h3>
            <h5 class="mb-2"> 필수항목 </h5>

            <!-- Email -->
            <div class="mb-3 was-validated">
                <label for="email">이메일 <span class="text-muted">(로그인 아이디)</span></label>
                <input type="email" class="form-control" id="email" name="email" 
                    th:field="*{email}" th:value="${form.email}"
                    placeholder="you@example.com" required autofocus>
                <span style="color:tomato" th:text="${valid_email}"></span>
            </div>

            <div class="row">
                <!-- Password -->
                <div class="col-md-6 mb-3 was-validated">
                    <label for="password"> 비밀번호 </label>
                    <input type="password" class="form-control" id="password" name="password" 
                        th:field="*{password}" th:value="${form.password}"
                        placeholder="******" required>
                    <span style="color:tomato" th:text="${valid_password}"></span>
                </div>

                <!-- Password confirm -->
                <div class="col-md-6 mb-3 was-validated">
                    <label for="rePassword"> 비밀번호 (확인) </label>
                    <input type="password" class="form-control" id="rePassword" 
                        th:field="*{rePassword}" th:value="${form.rePassword}"
                        name="rePassword" placeholder="******" required>
                    <span style="color:tomato" th:text="${valid_rePassword}"></span>
                </div>
            </div>

            <!-- Nickname -->
            <div class="mb-3 mt-3 was-validated">
                <label for="name" class="form-label"> 아이디 <span class="text-muted">(별명)</span></label>
                <input type="text" class="form-control" id="nickname" name="nickname" 
                    th:field="*{nickname}" th:value="${form.nickname}"
                    placeholder="홍길동" required>
                <div class="valid-feedback"></div>
                <span style="color:tomato" th:text="${valid_nickname}"></span>
            </div>

            <hr class="mb-4">
            <h5 class="mb-2 text-center"> 선택항목 </h5>

            <div class="mb-3 mt-3">
                <label class="form-label"> 성별 </label>
                <select class="form-select" id="gender" name="gender">
                    <option value="">선택안함</option>
                    <option value="MALE">남자</option>
                    <option value="FEMALE">여자</option>
                </select>
            </div>

            <div class="row">
                <label class="form-label"> 생년월일 </label>

                <div class="col">
                    <span class="ps_box input-group">
                        <input type="text" class="form-control" id="birthYear" name="birthYear"
                            placeholder="숫자만 적어주세요 (4자)" maxlength="4" th:value="${form.birthYear}">
                        <span class="input-group-text">년</span>
                    </span>
                    <span th:if="${birthYear != null}" style="color:tomato" th:text="${valid_birthYear}"></span>
                </div>

                <div class="col">
                    <span class="ps_box input-group">
                        <select class="form-select" id="birthMonth" name="birthMonth">
                            <option value="">선택해 주세요</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span class="input-group-text">월</span>
                    </span>
                </div>

                <div class="col">
                    <span class="ps_box input-group">
                        <input type="text" class="form-control" id="birthDayOfMonth" name="birthDayOfMonth"
                            placeholder="숫자만 적어주세요 (2자)" maxlength="2" th:value="${form.birthDayOfMonth}">
                        <span class="input-group-text">일</span>
                    </span>
                    <span th:if="${birthDayOfMonth != null}" style="color:tomato" th:text="${valid_birthDayOfMonth}"></span>
                </div>
            </div>

            <!-- blank -->
            <hr class="mb-4">

            <!-- submit button -->
            <button type="submit" class="btn btn-primary"> 회원가입 </button>

        </form>

    </div>


</div>

</html>



