<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>
<footer th:fragment="footerFragment">

    <div class="mt-5 p-4 bg-dark text-white text-center">
        <div class="row">
            <div class="col-6 col-md">
                <h5> 사이트 개발 </h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="https://github.com/Bluewind8791/"> Bluewind </a></li>
                    <li><a class="text-muted" href="https://github.com/Bluewind8791/mukcha"> GitHub </a></li>
                </ul>
            </div>

            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted">Account for test</small>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href=""> admin@test.com </a></li>
                    <li><a class="text-muted" href=""> user@test.com </a></li>
                    <li><a class="text-muted" href=""> password : 1234 </a></li>
                </ul>
            </div>
            
        </div>

    </div>

</footer>

</html>