* {
    font-family: 'Gowun Dodum', sans-serif;
}

.header_welcome {
    margin-left: 10px;
    margin-right: 10px;
}
.header_searchbar {
    
    margin-left: auto;
    margin-right: 10px;
}
.nav_category {
    margin-left: 10px;
}
.navbar-collapse {
    flex-grow: 0;
}

/* 슬라이더 */
.MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 15px; 
    width: 100%; 
    position:relative; 
}
.MultiCarousel .MultiCarousel-inner { 
    transition: 1s ease all; 
    float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
    float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
    padding: 0px; 
    margin: 0px;
    margin-right: 10px;
    /* text-align: center;  */
    /* background:#f1f1f1;  */
    /* color:#666; */
}
.MultiCarousel .leftLst, 
.MultiCarousel .rightLst { 
    position: absolute; 
    top: calc(50% - 50px);
    border-radius: 50%;
    background: white;
}
.MultiCarousel .leftLst { 
    left:0; 
}
.MultiCarousel .rightLst { 
    right:0; 
}
.MultiCarousel .leftLst.over, 
.MultiCarousel .rightLst.over {
    display: none;
    pointer-events: none;
    background: white;
}