* {
    font-family: 'Gowun Dodum', sans-serif;
}

/* Header */
.header_welcome {
    margin-left: 10px;
    margin-right: 10px;
}
.header_searchbar {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
}

/* Slider */
.carousel-control-prev, .carousel-control-next {
    margin-bottom: 30px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.menu_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_list {
    list-style: none;
    padding: 0px;
}

/* 메뉴 3개 */
@media screen and (min-width: 300px) {
    h6, .h6 {
        font-size: 12px;
    }
    .small {
        font-size: 7px;
    }
    .menu_list > li {
        width: 20%;
    }
    .menu_image_box {
        height: 100px;
        overflow: hidden;
    }
}

/* 메뉴 4개 */
@media screen and (min-width: 1000px) {
    h6, .h6 {
        font-size: 1rem;
    }
    .small {
        font-size: .875em;
    }
    .menu_list > li {
        width: 20%;
    }
    .menu_image_box {
        height: 200px;
        overflow: hidden;
    }
}

/* 메뉴 5개 */
@media screen and (min-width: 1400px) {
    .menu_list > li {
        width: 20%;
    }
    .menu_image_box {
        height: 170px;
        overflow: hidden;
    }
}