.modal_wrap {
    display: none; /*버튼 눌러야 보이게*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 300px;
    min-width: 300px;

    width: 30vw;
    height: 40vh;

    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;

    background: #eee;
    z-index: 2; /* 맨 앞 */
}

.black_bg {
    display: none;
    position: fixed;
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -30px;
    right: 0;
}

.modal_close>a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(https://img.icons8.com/metro/26/000000/close-window.png);
    text-indent: -9999px;
}