<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<div layout:fragment="content">

    <div class="container mt-3">
        <h2> LOGIN </h2>
        <form class="form-signin" method="POST" th:action="@{/login}">
            <div class="mb-3 mt-3">
                <label for="username"> 아이디: </label>
                <input type="username" 
                    id="username" 
                    name="username"
                    class="form-control" 
                    placeholder="아이디를 입력해주세요" required>
            </div>
            <div class="mb-3">
                <label for="pwd"> 비밀번호 : </label>
                <input type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="비밀번호를 입력해주세요" required>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember"> 자동 로그인
                </label>
            </div>
            <button type="submit" class="btn btn-primary"> 로그인 </button>

            <div class="error-message" th:if="${loginError}">
                <span> 아이디나 패스워드가 올바르지 않습니다. </span>
            </div>
        </form>
    </div>


</div>

</html>