<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container-fluid">
        <div class="pt-5 mt-5 text-center">
            <div th:switch="${errorCode}">
				<i th:case="'404'" class="fas fa-times-circle fa-7x my-5 text-danger"></i>
				<i th:case="'403'" class="fas fa-hand-paper fa-7x my-5 text-danger"></i>
				<i th:case="*" class="fas fa-bomb fa-7x my-5 text-danger"></i>
            </div>
            <h1 class="display-2 text-danger" th:text="${errorCode}">Error Occurred!!</h1>
            <h5 class="text-dark mb-5" th:text="${errorMessage}">An error has occurred. Please contact the administrator</h5>
        </div>
    </div>
</div>

</html>