<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">


<div layout:fragment="content">

  <div class="container">
    <a type="button" class="btn mt-5" onclick="window.history.back();">
      < 뒤로가기
    </a>
    <div class="text-center">
      <i class="fas fa-times-circle fa-7x my-5 text-danger"></i>
      <h1 class="text-danger">권한이 없습니다</h1>
    </div>
  </div>

</div>

</html>