<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">


<head>

</head>


<div layout:fragment="content">
  
  <!-- 별점순 TOP 10 -->
  <div class="container mt-5">
    <div class="h4 fw-bold mb-4">별점순 TOP 10</div>

      <div class="justify-content-center">
        <div id="ScoreTopTenCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <ul class="menu_list row">
                    <li th:each="f, i : ${scoreTopTen}" th:if="${i.count} <= 5">
                      <a th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                        <div class="menu_image_box">
                          <img class="menu_image mb-2" th:src="${f.foodImage}">
                        </div>
                      </a>
                      <a style="text-decoration: none;" th:title="${f.companyName}" th:href="'/companies/'+${f.companyId}">
                        <div class="text-muted small" th:text="${f.companyName}">회사이름</div>
                      </a>
                      <a style="text-decoration: none;" th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                        <h6 class="menu-name text-dark fw-bold" th:text="${f.foodName}">메뉴이름</h6>
                      </a>
                      <div class="small fw-bold" style="color: tomato;">
                        <span class="me-1" style="float: left;">평균 별점 ★</span>
                        <span class="fw-bold" style="float: left;" th:text="${f.averageScore}">평균별점</span>
                      </div>
                    </li>
                  </ul>
                </div>

                <div class="carousel-item">
                  <ul class="menu_list row">
                    <li th:each="f, i : ${scoreTopTen}" th:if="6 <= ${i.count} and ${i.count} <= 10">
                      <a th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                        <div class="menu_image_box">
                          <img class="menu_image mb-2" th:src="${f.foodImage}">
                        </div>
                      </a>
                      <a style="text-decoration: none;" th:title="${f.companyName}" th:href="'/companies/'+${f.companyId}">
                        <div class="text-muted small" th:text="${f.companyName}">회사이름</div>
                      </a>
                      <a style="text-decoration: none;" th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                        <h6 class="menu-name text-dark fw-bold" th:text="${f.foodName}">메뉴이름</h6>
                      </a>
                      <div class="small fw-bold" style="color: tomato;">
                        <span class="me-1" style="float: left;">평균 별점 ★</span>
                        <span class="fw-bold" style="float: left;" th:text="${f.averageScore}">평균별점</span>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#ScoreTopTenCarousel" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next w-auto" href="#ScoreTopTenCarousel" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
      </div>

  </div> <!-- end of 별점순 TOP 10 -->

  <!-- 최신순 TOP 10 -->
  <div class="container mt-5">
    <div class="h4 fw-bold mb-4">최신 메뉴</div>

    <div class="justify-content-center">
      <div id="NewestTopTenCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <ul class="menu_list row">
                  <li th:each="f, i : ${newestTen}" th:if="${i.count} <= 5">
                    <a th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                      <div class="menu_image_box">
                        <img class="menu_image mb-2" th:src="${f.foodImage}">
                      </div>
                    </a>
                    <a style="text-decoration: none;" th:title="${f.companyName}" th:href="'/companies/'+${f.companyId}">
                      <div class="text-muted small" th:text="${f.companyName}">회사이름</div>
                    </a>
                    <a style="text-decoration: none;" th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                      <h6 class="menu-name text-dark fw-bold" th:text="${f.foodName}">메뉴이름</h6>
                    </a>
                    <div class="small fw-bold" style="color: tomato;">
                      <span class="me-1" style="float: left;">평균 별점 ★</span>
                      <span class="fw-bold" style="float: left;" th:text="${f.averageScore}">평균별점</span>
                    </div>
                  </li>
                </ul>
              </div>

              <div class="carousel-item">
                <ul class="menu_list row">
                  <li th:each="f, i : ${newestTen}" th:if="6 <= ${i.count} and ${i.count} <= 10">
                    <a th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                      <div class="menu_image_box">
                        <img class="menu_image mb-2" th:src="${f.foodImage}">
                      </div>
                    </a>
                    <a style="text-decoration: none;" th:title="${f.companyName}" th:href="'/companies/'+${f.companyId}">
                      <div class="text-muted small" th:text="${f.companyName}">회사이름</div>
                    </a>
                    <a style="text-decoration: none;" th:title="${f.foodName}" th:href="'/menus/'+${f.foodId}">
                      <h6 class="menu-name text-dark fw-bold" th:text="${f.foodName}">메뉴이름</h6>
                    </a>
                    <div class="small fw-bold" style="color: tomato;">
                      <span class="me-1" style="float: left;">평균 별점 ★</span>
                      <span class="fw-bold" style="float: left;" th:text="${f.averageScore}">평균별점</span>
                    </div>
                  </li>
                </ul>
              </div>

          </div>
          <a class="carousel-control-prev w-auto" href="#NewestTopTenCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next w-auto" href="#NewestTopTenCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
      </div>
    </div>

  </div> <!-- end of 최신순 TOP 10 -->


</div>

</html>